#{extends 'main.html'/}
#{set title:'报警查看'/}
<div class="container">
	<div class="alert alert-info alert-block">
		<select id="selectApp" class="span4" style="margin-bottom:1px">
		#{list items:appList, as:'app'}
			<option val="${app.id}">${app.appName}</option>
		#{/list}
		</select>
		<select id="selectType" class="span4" style="margin-bottom:1px">
			<option val="ALL_TYPE">ALL_TYPE</option>
			<option val="JVM_ALERT">JVM_ALERT</option>
			<option val="IO_ALERT">IO_ALERT</option>
			<option val="CPU_ALERT">CPU_ALERT</option>
			<option val="HARD_ALERT">HARD_ALERT</option>
		</select>
		<input type="text" value="${queryDate}" id="datepicker" onclick="javascript:pickDate()" style="margin-bottom:1px"></input>
		<a class="btn" onclick="javascript:getAlertData(1)">确定</a>
	</div>
	<div class="pagination">
		<ul>
			<li><a href="javascript:getAlertData(current - 1)">上一页</a></li>
			<li><a href="javascript:getAlertData(current + 1)">下一页</a></li>
		</ul>
	</div>
	<div>
		<table class="table-striped" style="width:940px">
			<thead>
				<tr>
					<th>编号</th>
					<th>服务器IP</th>
					<th>服务器名</th>
					<th>类型</th>
					<th>报警时间</th>
					<th>报警内容</th>
				</tr>
			</thead>
			<tbody id="data_container">
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	var current = 1;

	$(document).ready(function(){
		getAlertData(1);
	});
	
	function pickDate(){
		$('#datepicker').datepicker({
			format:'yyyy-mm-dd'
		});
	}

	function getAlertData(page){
		var appID = $('#selectApp').val();
		var queryDate = $('#datepicker').val();
		var type = $('#selectType').val();
		var url = "/autoProcess/viewAlert";
		$.ajax({
			url:url,
			data:{'appID':appID,'queryDate':queryDate,'type':type,'page':page},
			success:function(data){
				$('#data_container').empty();
				$('#data_container').append(data);
				current = page;
			}
		});
	}
</script>
