#{extends 'main.html'/}
#{set title:'远程执行脚本'/}

<div class="container">
	<div class="alert alert-info">
		<input type="text" id="ip_input" class="span6" placeholder="服务器IP或服务器名" style="margin-bottom:1px"/>
		<!--<select id="typeSelector" style="margin-bottom:1px">
			<option value="CPU_INFO">CPU_INFO</option>
			<option value="IO_INFO">IO_INFO</option>
			<option value="JVM_INFO">JVM_INFO</option>
			<option value="HARD_INFO">HARD_INFO</option>
		</select>-->
		<button type="button" class="btn" onclick="javascript:validate()">验证</button>
		<button type="button" class="btn btn-primary" onclick="javascript:run()">执行</button>
	</div>
	<div>
		<textarea id="script_area" class="span12" style="height:500px"></textarea>
	</div>
</div>
<div class="modal fade" id="resultModal">
	<div class="modal-header">
		<p><strong>执行结果</strong></p>
	</div>
	<div class="modal-body">
		<div id="resultContent">
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" onclick="javascript:$('#resultModal').modal('hide')">关闭</a>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#resultModal').modal({
			show:false
		});
	});

	function validate(){
		var url = '/autoProcess/validate';
		var hostName = $('#ip_input').val();
		$.ajax({
			url:url,
			data:{'hostName':hostName},
			statusCode:{
				200:function(){
					alert('主机有效');
				},
				404:function(){
					alert('主机无效');
				}
			}
		});
	}
	
	function run(){
		var url = '/autoProcess/acturalRun';
		var hostName = $('#ip_input').val();
		var script = $('#script_area').val();
		$.ajax({
			url:url,
			data:{'hostName':hostName,'script':script},
			statusCode:{
				200:function(content){
					$('#resultContent').empty();
					$('#resultContent').append(content);
					$('#resultModal').modal('show');
				},
				404:function(){
					alert('执行出错');
				}
			}
		});
	}
</script>
