<!DOCTYPE html>

<html>
	<head>
		<title>故障处理-#{get 'title'/}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
		<link rel="stylesheet" href="/public/stylesheets/bootstrap-responsive.css">
		<link rel="stylesheet" href="/public/stylesheets/datepicker.css">
		<script src="/public/javascripts/jquery-1.7.1.js"></script>
		<script src="/public/javascripts/bootstrap.js"></script>
		<script src="/public/javascripts/bootstrap-modal.js"></script>
		<script src="/public/javascripts/jquery.base64.min.js"></script>
		<script src="/public/javascripts/bootstrap-datepicker.js"></script>
	</head>
	<body background="/public/img/background.png">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/autoProcess">Auto Processor</a>
					<ul class="nav">
						<li><a href="/autoProcess/alert">报警查看</a></li>
						<li><a href="/autoProcess/fault">故障查看</a></li>
						<li><a href="/autoProcess/information">脚本执行情况</a></li>
						<li><a href="/autoProcess/job">任务情况</a></li>
						<li><a href="/autoProcess/runScript">远程执行脚本</a></li>
					</ul>
					#{if session.username == null}
					<ul class="nav pull-right">
						<li><a href="javascript:show()">登录</a></li>
					</ul>
					#{/if}
					#{else}
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎你，${session.username}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">修改密码</a></li>
								<li class="divider"></li>
								<li><a href="#">退出</a></li>
							</ul>
						</li>
					</ul>
					#{/else}
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		#{doLayout /}
		<div class="modal fade span4" id="loginModal">
			<div class="modal-header">
				<h3>登录</h3>
			</div>
			<div class="modal-body">
				<p><input id="username" type="text" class="span3" placeholder="邮箱"></p>
				<p><input id="password" type="password" class="span3" placeholder="密码"></p>
			</div>
			<div class="modal-footer">
				<a class="btn" href="javascript:login()">登录</a>
				<a class="btn" href="#" data-dismiss="modal">取消</a>
			</div>
		</div>
	</body>	
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$('#loginModal').modal({
			show:false
		});
	});

	function show(){
		$('#loginModal').modal('toggle');
	}

	function login(){
		var userName = $('#username').val();
		var password = $('#password').val();
		$.base64.is_unicode=false;
		password = $.base64.encode(password);
		var url = '/autoProcess/login'
		$.ajax({
			url:url,
			data:{'username':userName, 'passwd':password},
			success:function(data){
				window.location.href = data;
			}
		});
	}
</script>
